<footer class="bg-body-tertiary  py-3 text-center" *ngIf="isLogin">
    <!-- <h2 class="fw-bolder">FreshCart</h2> -->
    <!-- <img src="../../assets/images/freshcart-logo.svg"  class="pb-3"> -->

    <!-- <h2 class="text-main">Get the Fresh Cart App</h2>
    <hr class="w-75 m-auto"> -->

    <!-- <div class="d-flex justify-content-center py-3 ">
        
                     <a class="mx-2" href="https://www.facebook.com/ahmed.abdulalim1" target="_blank"> <i class="fa-brands fa-facebook-f fs-5 "></i> </a>
                    <a class="mx-2" > <i class="fa-brands fa-instagram fs-5"></i> </a>
                    <a class="mx-2"> <i class="fa-brands fa-whatsapp fs-5"></i> </a>
                     <a class="mx-2" href="https://github.com/AhmedSamir109" target="_blank"> <i class="fa-brands fa-github fs-5"></i></a>
             
               
                   
    </div> -->

    <p class="d-inline-block mb-0">© 2024 Ahmed Samir , All Rights Reserved</p> <a class="mx-2" href="https://github.com/AhmedSamir109" target="_blank"> <i class="fa-brands fa-github fs-5"></i></a>


</footer>