<section class="w-100 m-auto pt-5 mt-5">
    <div class="w-80 m-auto py-5 px-sm-5  my-5 border-1 rounded-2 shadow" *ngIf="forgotResponse">

        <h2 class="text-center mb-5 fs-1 px-5">Forgot Password</h2>
        
        <form class="m-3" [formGroup]="forgotPassForm" (ngSubmit)="forgotPassword(forgotPassForm)">

            <label class="mb-2">Email :</label>
            <input type="email" formControlName="email" class="form-control mb-2" placeholder="enter your email">
            <p class="text-danger" *ngIf="forgotPassForm.get('email')?.getError('required') && forgotPassForm.get('email')?.touched" >this field is required</p>
            <p class="text-danger" *ngIf="forgotPassForm.get('email')?.getError('email')" >please enter correct email</p>

            <p class="text-danger">{{forgotApiMessage}}</p>
           
            <button class="btn bg-main text-light w-100 my-3" *ngIf="!isloading else loading">Next</button>
        </form> 


    </div>

<!-------------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------------->

    <div class="w-80 m-auto py-5 px-sm-5  my-5 border-1 rounded-2 shadow" *ngIf="!forgotResponse && resetCodeResponce">

        <h2 class="text-center mb-5 fs-1 px-5">Forgot Password</h2>
        
        <form class="m-3" [formGroup]="resetCodeForm" (ngSubmit)="resetCode(resetCodeForm)">

            <label class="mb-2">Reset code :</label>
            <input type="text" formControlName="resetCode" class="form-control mb-2" placeholder="enter the reset code">
            <p class="text-danger" *ngIf="resetCodeForm.get('resetCode')?.getError('required') && resetCodeForm.get('resetCode')?.touched" >this field is required</p>
            <p class="text-danger" *ngIf="resetCodeForm.get('resetCode')?.getError('minlength')" >must be 6 numbers</p>
            
            <p class="text-danger">{{resetCodeApiMessage}}</p>

            <button class="btn bg-main text-light w-100 my-3" *ngIf="!isloading else loading">Next</button>
        </form> 


    </div>


    <!----------------------------------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------------->

    <div class="w-80 m-auto py-5 px-sm-5  my-5 border-1 rounded-2 shadow" *ngIf="!resetCodeResponce">

        <h2 class="text-center mb-5 fs-1 px-5 ">Forgot Password</h2>
        
        <form class="m-3 " [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm)">

            <label class="mb-2">Email :</label>
            <input type="email" formControlName="email" class="form-control mb-3" placeholder="enter your email">
            <p class="text-danger" *ngIf="resetPasswordForm.get('email')?.getError('required') && resetPasswordForm.get('email')?.touched" >this field is required</p>
            <p class="text-danger" *ngIf="resetCodeForm.get('email')?.getError('email')" >please enter your email correctly</p>    
            

            <label class="mb-2">New Password :</label>
            <input type="password" formControlName="newPassword" class="form-control mb-2" placeholder="enter the new password">
            <p class="text-danger" *ngIf="resetPasswordForm.get('newPassword')?.getError('required') && resetPasswordForm.get('newPassword')?.touched" >this field is required</p>
            <p class="text-danger" *ngIf="resetPasswordForm.get('newPassword')?.getError('pattern')" >password must start with capital letter and between 5 to 16 character</p>    
            
            <p class="text-danger">{{resetPasswordApiMessage}}</p>
            <button class="btn bg-main text-light w-100 my-3" *ngIf="!isloading else loading">Next</button>
        </form> 


    </div>


</section>



<ng-template #loading>
    <button class="btn bg-main text-light w-100 my-3">Next <i class="fa-solid fa-spinner fa-spin"></i> </button>
</ng-template>
