<section class="w-100 min-height pt-5  my-5 ">
    <div class="w-80 shadow border-1 rounded-2 m-auto py-5 px-sm-5 mt-4 ">

        <h2 class="text-center fw-bold fs-2 my-3 pb-3">shipping Address</h2>
        
        <form [formGroup]="checkOutForm" (ngSubmit)="checkOut(checkOutForm)" class="mx-3">
        
            <label>Name :</label>
            <input type="text" formControlName="details" class="form-control mb-2"  >
            <p class="text-danger " *ngIf="checkOutForm.get('details')?.getError('required') && checkOutForm.get('details')?.touched">this field is required</p>
            <p class="text-danger " *ngIf="checkOutForm.get('details')?.getError('minlength')">min-length is 3</p>
        
            <label>Phone :</label>
            <input type="text" formControlName="phone" class="form-control mb-2"  >
            <p class="text-danger " *ngIf="checkOutForm.get('phone')?.getError('required') && checkOutForm.get('phone')?.touched">this field is required</p>
            <p class="text-danger " *ngIf="checkOutForm.get('phone')?.getError('pattern')">please enter correct phone number</p>
        

        
            <label>City :</label>
            <input type="text" formControlName="city" class="form-control" >
            <p class="text-danger " *ngIf="checkOutForm.get('city')?.getError('required') && checkOutForm.get('city')?.touched">this field is required</p>

        
            <button class="btn bg-main text-light my-3 px-3" *ngIf="!isLoading else loading">Online Payment <i class="fa-brands fa-cc-visa fs-5 "></i> </button>
        
        </form>
        
    </div>
</section>

<ng-template #loading>
<button class="btn bg-main text-light my-3 px-3">Next <i class="fa-solid fa-spinner fa-spin"></i></button> 
</ng-template>
