<section class="w-100 m-auto pt-5 my-5 view-height">

    <div class="w-80 m-auto py-5 px-sm-5  border-1 rounded-2 shadow" >

        <h2 class="text-center mb-5 fs-1 px-5">Reset Password</h2>
        
        <form class="m-3" [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword(updatePasswordForm)">

            <label class="mb-2">Current Password :</label>
            <input type="password" formControlName="currentPassword" class="form-control mb-2">
            <p class="text-danger" *ngIf="updatePasswordForm.get('currentPassword')?.getError('required') && updatePasswordForm.get('currentPassword')?.touched" >this field is required</p>
            <!-- <p class="text-danger" *ngIf="updatePasswordForm.get('currentPassword')?.getError('')" >please enter correct email</p> -->
           
            <label class="mb-2">Password :</label>
            <input type="password" formControlName="password" class="form-control mb-2">
            <p class="text-danger" *ngIf="updatePasswordForm.get('password')?.getError('required') && updatePasswordForm.get('password')?.touched" >this field is required</p>
            <p class="text-danger" *ngIf="updatePasswordForm.get('password')?.getError('pattern')" >password must start with capital letter and between 5 to 16 character</p>
           
           
            <label class="mb-2">rePassword :</label>
            <input type="password" formControlName="rePassword" class="form-control mb-2">
            <p class="text-danger" *ngIf="updatePasswordForm.get('rePassword')?.getError('required') && updatePasswordForm.get('rePassword')?.touched" >this field is required</p>
            <!-- <p class="text-danger" *ngIf="updatePasswordForm.get('currentPassword')?.getError('')" >please enter correct email</p> -->

            <p class="text-danger text-center my-4">{{apiResponseMessage}}</p>
           
            <button class="btn bg-main text-light w-100 my-3" *ngIf="!isLoading else loading">Change</button>
        </form> 


    </div>
</section>


<ng-template #loading>
    <button class="btn bg-main text-light w-100 my-3">Changing <i class="fa-solid fa-spinner fa-spin"></i></button>
</ng-template>
